<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}My blog{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom-style.css') }}">
</head>

<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        {% if 'post_detail' == request.endpoint %}
        <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('index') }}">Главная</a>
        {% endif %}
        <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('create') }}">Создать пост</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">

                </li>
            </ul>
            <form class="d-flex" role="search">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Действия
                        </a>
                        <ul class="dropdown-menu">
                            {% if current_user.is_authenticated %}
                            <li><p class="dropdown-item">Привет, {{ current_user.username }}!</p></li>
                            <li><a class="dropdown-item" href="{{ url_for('logout') }}">Выйти</a></li>
                            {% else %}
                            <li><a class="dropdown-item" href="/login">Авторизация</a></li>
                            <li><a class="dropdown-item" href="/register">Регистрация</a></li>
                            {% endif %}

                        </ul>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    {% block body %}
    Base body
    {% endblock %}
</div>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>